/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End CSS RESET
///////////////////////////////////////////////*/

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  color: #4B4B4B;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #FFF;
  text-align: center;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5em;
  color: #FFF;
  text-align: center;
  font-weight: 200;
  opacity: .6;
}

h3 {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  color: #4B4B4B;
  font-size: 23px;
  padding-top: 1em;
  padding-bottom: .3em;
}

ul {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  font-color: black;
  padding-top: 4em;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #E62E00;
}

.right {
  color: #FF3300;
}

/*////////MEDIA QUERIES//////////*/
@media only screen and (max-width: 500px) {
  .billboard{
    padding: .2em 0;
  }
  .tagline {
    font-size: 1.5em;
  }
}