.title {
	padding-top: 4em;
	position: relative;
}

.tagline {
	padding-bottom: 4em;
	padding-top: 4em;
}

.btn {
	text-align: center;
	padding-bottom: 4em;
	text-decoration: none;
}

.works {
	text-align: center;
	background-color: #FFF;
	margin-top: -21px;
	padding-bottom: 3em;
}

#header {
	margin: -2em auto;
	padding: 25em;
}

.end {
    padding-bottom: 3em;
    background-image: url(../images/break.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.fadeInBlock {
    opacity:0;
}

#boiler {
	padding-top: 2em;
	font-size: 1em;
}