.row {
	padding: 0em auto;
	width: 40em;

}

.title {
	padding-top: 4em;
}

.tagline {
	padding-bottom: 4em;
	padding-top: 4em;
}

.btn {
	text-align: center;
	padding-bottom: 4em;
	text-decoration: none;
}

#header {
	margin: -2em auto;
}

#footer {
}