.billboard {
	background: url(../images/desk.jpg) no-repeat;
	background-size: cover;
  margin: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  position: fixed;
}

.head {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;    
    -webkit-animation-delay: 1s;
         -moz-animation-delay: 1s;
           -o-animation-delay: 1s;
              animation-delay: 1s;

    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.overlay{
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: url(../images/overlay.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0;
  }

button {
    width: 9.688rem;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-width: medium;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    transition: background-color 300ms ease-out
}

button:hover {
    background-color: #FF3300;
    border-color: #cf3d0e;
    cursor: pointer;
}

.brains {
    background-color: #FFF;
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    margin-top: 33em;
    max-width: 100%;
}

.cases {
	text-align: center;
	display: inline-block;
    width: 50%;
    float:left;
}

.paragraph {
    padding-left: 8em;
    padding-right: 8em;
    font-size: 14px;
    text-align: center;
}

.call {
    background-color: #4B4B4B;
    padding: 1em 0;
    margin-top: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    transition: background-color 300ms ease-out
}

.call:hover {
    background-color: #FF3300;
    cursor: pointer;
}

.wrapper {
    padding-top: 2em;
}
.wrapper .text {
    position: relative;
    color: #fff;
    bottom: 60px;
    visibility:hidden;
    font-size: 1.5em;
}

.wrapper:hover .text {
    visibility:visible;
}

#brainspin {
    height:50px;
    width:50px;
    background: url(../images/brain.png);
    margin:auto; /*position the [div] on the center*/
    margin-top: 2em;
    opacity: .5;
  }

  /*this is the hover event trigger*/
  #brainspin:hover { 
    background:url(../images/brain.gif);
  }

/*MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  .tagline {
    font-size: 70%;
  }

  .brains {
    font-size: 75%;
  }

  .wrapper .text{
    font-size: 125%;
  }

  .paragraph {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .rtbrain {
    padding-top: 4em;
  }

  .head{
    font-size: 70%
  } 
}