.billboard {
	background-image: url(../images/desk.jpg);
	background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 9.688rem;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-width: medium;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    transition: background-color 300ms ease-out
}

button:hover {
    background-color: #FF3300;
    border-color: #cf3d0e;
    cursor: pointer;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding: 0 8em;
    height: 400px;
}

.cases .devices > li {
	text-align: center;
	display: inline-block;
    width: 50%;
    float:left;
}

.works .container > li {
    text-align: center;
    display: inline-block;
    width: 50%;
    float:left;
}

.devices {
    padding-bottom: 12em;
}

.paragraph {
    padding-left: 2em;
    padding-right: 2em;
}

.call {
    background-color: #4B4B4B;
    padding: .5em 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.42;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    transition: background-color 300ms ease-out
}

.call:hover {
    background-color: #FF3300;
    cursor: pointer;
}

.end {
    padding-top: 4em;
    background-image: url(../images/break.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}