.billboard {
	background-image: url(../images/desk.jpg);
	background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 9.688rem;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-width: medium;
    border-radius: 2em;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    transition: background-color 300ms ease-out
}

button:hover {
    background-color: #FF3300;
    border-color: #cf3d0e;
    cursor: pointer;
}

.brains {
    background-color: #fff;
    padding-top: 6em;
    text-align: center;
}

.cases .devices > li {
	text-align: center;
	display: inline-block;
    width: 50%;
    float:left;
}

.works .container > li {
    text-align: center;
    display: inline-block;
    width: 50%;
    float:left;
}

.devices {
    padding-bottom: 12em;
    max-width: 40em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.paragraph {
    padding-left: 2em;
    padding-right: 2em;
}

.call {
    background-color: #4B4B4B;
    padding: 1em 0;
    margin-top: 4em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    transition: background-color 300ms ease-out
}

.call:hover {
    background-color: #FF3300;
    cursor: pointer;
}

.wrapper .text {
    position: relative;
    color: #fff;
    bottom: 60px;
    visibility:hidden;
    font-size: 1.5em;
}

.wrapper:hover .text {
    visibility:visible;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  .tagline {
    font-size: 75%;
  }

  .brains {
    font-size: 75%;
  }
}
}