/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End CSS RESET
///////////////////////////////////////////////*/


body {
  /*Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Droid+Sans", sans-serif;
}

.footer {
  color: #ffffff;
  font-size: 1em;
}

.masthead-heading,
.masthead-intro,
.footer {
    text-align: center;
}

.masthead {
    margin: -2em;
    padding: 12em 0;
    background-image: url('../images/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead-heading {
    margin-top: -0.2em;
    padding-bottom: 2em;
    font-family: "Droid+Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: white;
    opacity: .8;
}

.masthead-intro {
    font-family: "Droid+Sans", sans-serif;
    font-size: 3em;
  	color: white;
    opacity: .8;
}

.intro,
.works,
.about {
	  max-width: 50em;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 2em;
}

.social > li {
  display: inline-block;
  color: #FF3300;
  padding: .5em;
}

.about > ul,
.about > p,
.works > p,
.location > p,
.footer > p {
  font-weight: 300;
  letter-spacing: .05em;
}

.about > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #FF3300;
}

section > h1 {
  margin-top: 2em;
}
/*FOOTER*/
.footer {
  background-color: #3B3B3B;
  background-size: cover;
  margin-top: 4em;
  padding: 2em;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #FF3300;
}

a:visited {
  font-weight: light;
  text-deorcation: none;
}

a:hover {
  opacity:0.2;
}

.social {
  padding-left: 0em;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 500px) {
  .masthead {
    padding: 5em 0;
  }
  .masthead-heading {
    font-size: 1.5em;
  }
}